@charset "utf-8";
.profile-wrapper-horde .profile-info-anchor {  background-image: url("img/sidebar-bg-horde.png");}
.profile-info-anchor, .profile-info {  width: 700px;}
.profile-info-anchor {  position: absolute;  height: 218px;  background: no-repeat;  z-index: 1;}
.profile-info {  position: absolute;  left: 25px;  top: 45px;  line-height: normal;  letter-spacing: -0.05em;   margin-left: -150px;}
.profile-info .name {  float: left;  font-size: 56px;  font-weight: bold;  color: white;  line-height: 1.1em;  position: relative;  left: -3px;  letter-spacing: -0.05em;}
.profile-info .name a {  color: white; outline: none;}
.profile-info .title-guild {  float: left;  padding-left: 11px;  padding-top: 10px;}
.profile-info .title-guild .title {  font-size: 14px;  color: #e0e0e0;  line-height: 25px;}
.profile-info .title-guild .guild {  line-height: 15px;}
.profile-info .title-guild .guild a {  font-size: 20px;}
.clear {  clear: both;  display: block;  margin: 0;  padding: 0;}
.profile-info .under-name {  font-size: 14px;  font-weight: normal;  line-height: 14px;  letter-spacing: normal;margin-left: -390px;}
.color-c6, .color-c6 a {  color: #c41e3b !important;   outline: none;}
.profile-info .level strong {  font-family: "Arial Black", Arial, sans-serif;  font-weight: 900;  font-size: 14px;}
.color-c6 a.tip, .border-c6 {  border-color: #620f1e;   outline: none;}
.color-c6 a.tip {  border-bottom: 1px dotted #620f1e;   outline: none;}
.profile-info .comma {  color: #cccccc;}
.profile-wrapper-horde .realm, .profile-wrapper-horde .realm a {  color: #b30000;}
.profile-info .realm {  border-bottom: 0;}
.profile-info .achievements {  margin-top: 5px;  margin-left: -617px;}
.profile-info .achievements a {  font-size: 20px;  font-family: "Arial Black", Arial, sans-serif;  font-weight: 900;  color: white;  padding-left: 11px;  background: url("img/achievements.gif") left 7px no-repeat;  line-height: 23px;}
.profile-wrapper {  color: #c09a67;}
ul.profile-sidebar-menu {  width: 196px; margin: 5px 0 0 -760px;  padding-bottom: 1px;  background: url("img/sidebar-menu-sep.gif") left bottom no-repeat;  font-size: 13px;}
ul.profile-sidebar-menu li { padding-top: 1px; background: url("img/sidebar-menu-sep.gif") left top no-repeat; white-space: nowrap; }
ul.profile-sidebar-menu a { display: block; padding-left: 3px; }
ul.profile-sidebar-menu a.has-submenu .arrow { background: url("img/sidebar-menu-arrows.png") right 9px no-repeat; }
ul.profile-sidebar-menu a.has-submenu:hover .arrow { background-position: right -41px; }
ul.profile-sidebar-menu a.back-to .arrow { padding-right: 10px; font-style: normal; vertical-align: middle; background: url("img/sidebar-menu-arrows.png") 2px -91px no-repeat; padding-left: 18px; }
ul.profile-sidebar-menu a.back-to:hover .arrow { background-position: 2px -141px; }
ul.profile-sidebar-menu a:hover { background-color: rgba(0, 0, 0, 0.33333); }
ul.profile-sidebar-menu a .arrow { display: block; line-height: 30px; text-overflow: ellipsis; white-space: nowrap; display: block; overflow: hidden; }
ul.profile-sidebar-menu a.vault .icon { padding-right: 16px; background: url("img/sidebar-lock.png") right -49px no-repeat; }
.opera ul.profile-sidebar-menu a.vault .icon { background-position: 95% -49px; }
ul.profile-sidebar-menu a.active { color: #fff; font-weight: bold; }
ul.profile-sidebar-menu a.active:hover { background: none; }
ul.profile-sidebar-menu a.active.has-submenu:hover .arrow { background-position: right 9px; }
ul.profile-sidebar-menu li.active a { color: #fff; font-weight: bold; }
ul.profile-sidebar-menu li.active a:hover { background: none; }
ul.profile-sidebar-menu li.active a.has-submenu:hover .arrow { background-position: right 9px; }
ul.profile-sidebar-menu li.disabled a { cursor: help; }
ul.profile-sidebar-menu li.disabled a, ul.profile-sidebar-menu li.disabled a span { color: #8B5F03 !important; }
ul.profile-sidebar-menu li.disabled a:hover .arrow { background-position: right 9px; }
ul.profile-sidebar-menu li.disabled .arrow { background: none !important; }
ul.profile-sidebar-menu li.disabled a.vault .icon { background-position: right 1px; }
.opera ul.profile-sidebar-menu li.disabled a.vault .icon { background-position: 95% 1px; }
ul.profile-sidebar-menu li .icon-frame { float: left; margin-top: 6px; margin-right: 5px; }
ul.profile-sidebar-menu li .indent { padding-left: 13px; }
ul.profile-sidebar-menu li .divider, ul.profile-sidebar-menu li .empty { display: block; }
ul.profile-sidebar-menu li .divider { line-height: 36px; font-size: 14px; color: #98542D; }
ul.profile-sidebar-menu li .empty { line-height: 30px; color: #694c30; }
/* sidebar links */
ul.profile-sidebar-links { margin: 30px 0 0 25px; white-space: nowrap; }
ul.profile-sidebar-links li { font-size: 11px; line-height: 28px; }
ul.profile-sidebar-links a { color: #e75a00; padding: 5px 0; }
ul.profile-sidebar-links a:hover { color: white !important; }
/* view options */
ul.profile-view-options { font-size: 12px; float: right; white-space: nowrap; }
ul.profile-view-options li { float: right; margin: 0 0 0 17px; }
ul.profile-view-options a { display: block; padding: 4px 0 4px 19px; line-height: 16px; background: url("img/view-options.png") no-repeat 0 center; }
ul.profile-view-options li.current a { color: white; font-weight: bold; }
ul.profile-view-options a.disabled { color: #595959; }
ul.profile-view-options a.tabular { background-position: -150px center; }
ul.profile-view-options a.advanced { background-position: 0 center; }
ul.profile-view-options a.has-icon { background: none; padding-left: 0; line-height: 16px; }
ul.profile-view-options .icon { float: left; margin-right: 4px; }
ul.profile-view-options a.tip { cursor: help; border-bottom: 0; }
.profile-section-header ul.profile-view-options { padding-top: 12px; }
.profile-info-anchor { position: relative; height: 218px; background: no-repeat; z-index: 1; }
.profile-contents, .profile-section {  padding: 0;}
.profile-contents {  margin-left: 0;}
.profile-contents {  margin-left: -5px;  min-height: 807px;  padding-bottom: 40px;  margin-top: -255px;}
.summary-top {  margin-left: 230px;  height: 700px;}
.summary-top, .summary-top-right, .summary-top-inventory {  width: 762px;}
.summary-top-right {  height: 148px;  position: relative;}
.summary-top-right ul.profile-view-options {  position: absolute;  right: 25px;  top: 56px;}
ul.profile-view-options {  font-size: 12px;  float: right;  white-space: nowrap;}
ol, ul {  list-style-type: none;}
ul.profile-view-options li {  float: right;  margin: 0 0 0 17px;}
ul.profile-view-options a.advanced {  background-position: 0 center;}
ul.profile-view-options a {  display: block;  padding: 4px 0 4px 19px;  line-height: 16px;  background: url("img/view-options.png") no-repeat 0 center;}
ul.profile-view-options li {  float: right;  margin: 0 0 0 17px;}
.summary-top-right ul.profile-view-options a.simple {  background-position: -300px center;}
ul.profile-view-options li.current a {  color: white;  font-weight: bold;}
.summary-averageilvl {  position: absolute;  top: 91px;  right: 23px;  color: white;}
.summary-averageilvl .rest {  color: #ccc;  white-space: nowrap;  font-size: 11px;  line-height: 13px;  text-transform: lowercase;  margin-top: 3px;}
.summary-averageilvl .rest .equipped {  color: white;}
.summary-averageilvl div {  float: right;}
.summary-averageilvl .best {  font-size: 30px;  font-family: "Arial Black", Arial, sans-serif;  font-weight: 900;  line-height: 32px;  margin-right: 5px;  letter-spacing: -0.025em;  border-bottom: 0;}
.tip {  border-bottom: 1px dotted #6a5336;  cursor: help;}
.summary-top-inventory {  height: 540px;  position: relative;  z-index: 1; margin-left: 40px;}
.summary-inventory-simple {  width: 612px;  height: 455px;  position: absolute;  left: 28px;  top: 1px;}
.summary-inventory .slot, .summary-inventory a.item, .summary-inventory a.item .frame, .summary-inventory a.empty {  -moz-border-radius: 4px;  -webkit-border-radius: 4px;  border-radius: 4px;}
.summary-inventory .slot {  position: absolute;}
.summary-inventory a.item {  -moz-box-shadow: 0 0 8px black;  -webkit-box-shadow: 0 0 8px black;  box-shadow: 0 0 8px black;}
.summary-inventory a.item {  width: 49px;  height: 49px;  display: block;  position: absolute;}
.summary-inventory .transmog-frame {  width: 17px;  height: 17px;  display: block;  position: absolute;  z-index: 2;  top: 32px;  left: 0;  background: url("../../images/wiki/item/transmogrify-icon.gif") 0 -17px no-repeat;}
.summary-inventory a.empty {  width: 49px;  height: 49px;  display: block;  cursor: help;  position: absolute;  background: url("img/item-empty-bg.png") no-repeat;  opacity: 0.33333;}
/* empty slots */
.summary-inventory .slot-1  a.empty { background-position: 1px 1px;    } /* Head */
.summary-inventory .slot-2  a.empty { background-position: 1px -46px;  } /* Neck */
.summary-inventory .slot-3  a.empty { background-position: 1px -93px;  } /* Shoulder */
.summary-inventory .slot-16 a.empty,                                     /* Back */
.summary-inventory .slot-5  a.empty { background-position: 1px -140px; } /* Chest */
.summary-inventory .slot-19 a.empty { background-position: 1px -187px; } /* Tabard */
.summary-inventory .slot-4  a.empty { background-position: 1px -234px; } /* Shirt */
.summary-inventory .slot-9  a.empty { background-position: 1px -281px; } /* Wrist */
.summary-inventory .slot-10 a.empty { background-position: 1px -328px; } /* Hands */
.summary-inventory .slot-6  a.empty { background-position: 1px -375px; } /* Waist */
.summary-inventory .slot-7  a.empty { background-position: 1px -422px; } /* Legs */
.summary-inventory .slot-8  a.empty { background-position: 1px -469px; } /* Feet */
.summary-inventory .slot-11 a.empty { background-position: 1px -516px; } /* Finger */
.summary-inventory .slot-12 a.empty { background-position: 1px -563px; } /* Trinket */
.summary-inventory .slot-21 a.empty { background-position: 1px -610px; } /* Main Hand */
.summary-inventory .slot-22 a.empty { background-position: 1px -657px; } /* Off Hand */
.summary-inventory .slot-15 a.empty { background-position: 1px -704px; } /* Ranged */
.summary-inventory .slot-28 a.empty { background-position: 1px -751px; } /* Relic */
.summary-inventory a.item .frame, .summary-inventory a.empty .frame {  position: absolute;  left: 0;  top: 0;  width: 49px;  height: 49px;  background: url("img/inventory-slots.png") no-repeat;}
/* item quality frames */
.summary-inventory .item-quality-0 a.item .frame { background-position: -49px  0; }
.summary-inventory .item-quality-1 a.item .frame { background-position: -98px  0; }
.summary-inventory .item-quality-2 a.item .frame { background-position: -147px 0; }
.summary-inventory .item-quality-3 a.item .frame { background-position: -196px 0; }
.summary-inventory .item-quality-4 a.item .frame { background-position: -245px 0; }
.summary-inventory .item-quality-5 a.item .frame { background-position: -294px 0; }
.summary-inventory .item-quality-6 a.item .frame { background-position: -343px 0; }
.summary-inventory .item-quality-7 a.item .frame { background-position: -392px 0; }
.summary-inventory .transmog-frame {  width: 17px;  height: 17px;  display: block;  position: absolute;  z-index: 2;  top: 32px;  left: 0;  background: url("img/transmogrify-icon.gif") 0 -17px no-repeat;}










